/* remove default */
ul, ol {
    list-style-type: none;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}

body {
    position: relative;
    background-color: $darkblack;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    height: auto;
    width: 100%;
}



