.register-page {
    margin-top: 9rem;
    padding-bottom: 9.5rem;

    h5 {
        font-size: 0.75rem;
        color: $form-instruction;
        padding: 1.5rem 0 1.5rem;
        border-top: 1px solid $form-line;
    }
}